@import "./colors.scss";
@import "bulma/bulma";


html,
body {
  padding: 0;
  margin: 0;
  background-color: $bg2;
  color: $fg1;
  font-family: "Open Sans", sans-serif;
  height: 100%;
}
#__next {
  height: 100%;
}
a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input[type="checkbox"] {
  margin-right: 10px;
}


@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}